html, body {
  margin:0;
  padding:0;
}
#map_div {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}
#selectContainer {
  position: fixed;
  top:0;
  z-index:1000;
  width:100%;
  padding:10px 0;
}
#select_country {
  width:200px;
  margin:0 auto;
}


/* .row {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.col {
  width: 150px;
} */
/* select, input {
  width: 100px;
  margin-bottom:15px;
  font-size:16px;
  padding:5px 5px;
  font-weight: 700;
} */ 

.runBtn {
  
  width: 150px;
  display: block;
  padding: 10px;
  margin: 5px auto;
  border-radius: 15px;
  color:#fff;
  border:0;
  font-size:20px;
  cursor:pointer;
  background-color:gray;
}
/* button .convert {
  width:200px;
} */


/* :root {
  --primary-color:#ffff80;
  --secondary-color:black;
  
}
html, body, #map_div {
  height: 100%;
  width: 100vw;
  padding:0;
  margin:0;
}
.navbar {
  background-color: #ffffcc;
  
}
a:link{
  color:red;
  text-decoration-color:underline ;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace ;
}
a:visited{
  color:green;
}
a:hover{
  color:rgb(221, 9, 157);
  text-decoration: none;
}
a:active{
  color:blue;
}

 .btn-link:hover{
  background-color:#3e8e41;
  color:white;
}
 .btn-link:active{
  background-color:#3e8e41;
  box-shadow: 0 5px #666;
  transform:translateY(4px);
}
select {
  background-color:rgb(222, 231, 233);
  color:blueviolet;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color:chocolate;

}
select option{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



  .modal-header  {
  background:var(--primary-color)
;  padding: 15px 40px 15px 20px;
  
}
.modal-title {
  color:var(--secondary-color);
}
.modal-footer {
  background-color: var(--primary-color);
  margin:auto;
  padding: 5px 5px;
}
.marker-cluster-small {
  background-color: #49afa5 !important;
}
.marker-cluster-small div {
  background-color: #1c9489 !important;
  color:#fff !important;
} */