:root {
  --primary-color:#ffff80;
  --secondary-color:black;
  
}
html, body, #map_div {
  height: 100%;
  width: 100vw;
  padding:0;
  margin:0;
}
.navbar {
  background-color: #ffffcc;
  
}
a:link{
  color:red;
  text-decoration-color:underline ;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace ;
}
a:visited{
  color:green;
}
a:hover{
  color:rgb(221, 9, 157);
  text-decoration: none;
}
a:active{
  color:blue;
}

.btn-link{
  display:inline-block;
  padding:5px 10px;
  font-size:16px;
  cursor:pointer;
  text-align:center;
  text-decoration:none;
  outline:none;
  background-color:lightgreen;
  border:none;
  border-radius:10px;
  box-shadow:0 7px #999;
  font-weight: bold;
  
}
 .btn-link:hover{
  background-color:#3e8e41;
  color:white;
}
 .btn-link:active{
  background-color:#3e8e41;
  box-shadow: 0 5px #666;
  transform:translateY(4px);
}
select {
  background-color:rgb(222, 231, 233);
  color:blueviolet;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color:chocolate;

}
select option{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



  .modal-header  {
  background:var(--primary-color)
;  padding: 15px 40px 15px 20px;
  
}
.modal-title {
  color:var(--secondary-color);
}
.modal-footer {
  background-color: var(--primary-color);
  margin:auto;
  padding: 5px 5px;
}
